<form class="" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="purchasePrice" >Purchase Price $</label>
    <input  class="slider" name="purchasePrice" [(ngModel)]="purchasePrice">

    <label for="downPayment" >Down Payment $</label>
    <input class="slider" name="downPayment" [(ngModel)]="downPayment">

    <label for="repaymentTime" >Repayment Time $</label>
    <input class="slider" name="repaymentTime" [(ngModel)]="years">

    <label for="interestRate" >Interest Rate %</label>
    <input class="slider" name="interestRate" [(ngModel)]="interest">

    <h1>Loan Amount:{{loanAmount | currency}}</h1>
    <h1>Estimated Per Month:{{ perMonth | currency}}</h1>
    <button class="submit-button">Get Mortgage Quote</button>
</form>