<div class="calc-form-container">
    <h1>Mortgage Calculator</h1>
    <form class="calc-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-section">
            <label for="purchasePrice" >Purchase Price $</label>
            <input  
            class="slider" 
            name="purchasePrice"  
            [(ngModel)]="years"
            required
            pattern="^[1-9]+[0-9]*$"
            >
    
            <label for="downPayment" >Down Payment $</label>
            <input 
            class="slider" 
            name="downPayment"  
            [(ngModel)]="purchasePrice" 
             
            required
            >
        </div>
            
        <div class="form-section">
            <label for="repaymentTime" >Repayment Time</label>
            <input 
            class="slider" 
            name="repaymentTime"  
            [(ngModel)]="downPayment" 
            required
            >
        
            <label for="interestRate" >Interest Rate %</label>
            <input 
            class="slider" 
            name="interestRate"  
            [(ngModel)]="interest"
            required>
        </div>
          
     
        
        <h3>Loan Amount:{{loanAmount | currency}}</h3>
        <h3>Estimated Per Month:{{ perMonth | currency}}</h3>
        <button  [disabled]="!form.valid">Get Mortgage Quote</button>
        <span class="warning" *ngIf="form.value.purchasePrice <= 0 && form.dirty">Please enter a number greater than 0!</span>
        <span class="warning" *ngIf="form.value.downPayment < 0 && form.dirty">Please enter a number greater than or equal to 0!</span>
        <span class="warning" *ngIf="form.value.repaymentTime <= 0 && form.dirty">Please enter a number equal to or greater than 0!</span>
        <span class="warning" *ngIf="form.value.interest <= 0 && form.dirty">Please enter a number greater than or equal to 0!</span>
    </form>
</div>

    