<form class="" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="purchase-price" >Purchase Price $</label>
    <input  class="slider" name="purchase-price" [(ngModel)]="purchasePrice">

    <label for="down-payment" >Down Payment $</label>
    <input class="slider" name="down-payment" [(ngModel)]="downPayment">

    <label for="repayment-time" >Repayment Time $</label>
    <input class="slider" name="repayment-time" [(ngModel)]="years">

    <label for="interest-rate" >Interest Rate %</label>
    <input class="slider" name="interest-rate" [(ngModel)]="interest">

    <h1>Loan Amount:{{loanAmount | currency}}</h1>
    <h1>Estimated Per Month:{{ perMonth | currency}}</h1>
    <button class="submit-button">Get Mortgage Quote</button>
</form>